
@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('Playfair_Display.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DM Sans';
    src: url('DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EB Garmond';
    src: url('EB_Garamond/EBGaramond-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
body {
    background-color: #fff;
}
#newSection {
    background-color: #F3E5AB;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 725vh; /* Set the height to 50% of the viewport height */
    max-height: 725px; /* Set a maximum height if needed */
    overflow: hidden;
}
.landing-page-container {
    max-width: 100%; /* Adjust the maximum width for smaller screens */
    margin: auto;
    padding: 20px;
}
.title {
    text-align: center;
    margin-left: -30px;
    margin-bottom: -275px;
    width: 100%;
    height: auto;
}
@media (max-width: 1500px) {
    .landing-page-container {
        padding: 10px; 
        margin: 20px; 
        margin-bottom: 0px;
        max-width: 100%; 
        margin: 10px; 
    }
    .column {
        margin-left: 200px;
        margin-right: 200px
    }
    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 21px;
        color: #503525;
        margin-left: 75px;
        margin-right: 75px;
        margin-bottom: 5px;
    }
    .images {
        padding: 10px; 
        margin: 20px; 
        margin-bottom: 0px;
        max-width: 100%; 
        margin: 10px;
        text-align: center;
    }
    .quote {
        margin-left: 200px;
        margin-right: 200px
    }
    h3 {
        margin-left: 75px;
        margin-right: 75px;
        margin-bottom: 5px; 
    }
}

.stickers {
    margin: -20px -10px 0; /* Adjust the top margin to move the stickers more upward */
    overflow: hidden;
    text-align: center
}

.stickers img {
    animation: moveAndTiltMotion 20s infinite; /* Adjust the duration and iteration count as needed */
    display: inline-block; /* Make sure the image is a block-level element */
    margin: 0 10px; /* Adjust as needed to create margins */
}

@keyframes moveAndTiltMotion {
    0%, 100% {
      transform: translateX(0) rotate(0deg);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(-5px) rotate(-5deg);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(5px) rotate(5deg);
    }
  }

h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 125px;
    margin: 40px;
    text-shadow: -1px -1px 0 #503525, 1px -1px 0 #503525, -1px 1px 0 #503525, 1px 1px 0 #503525;
}
h2 {
    font-family: 'DM Sans', sans-serif;
    color: #503525;
    font-weight: bold;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 23px;
    color: #503525;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
h5 {
    text-align: center;
}
h6{
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    color: #503525;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -10px
}
h4 {
    font-family: 'League Spartan', sans-serif
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    color: #503525;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.images {
    padding: 10px; 
    margin: 20px; 
    margin-bottom: 0px;
    max-width: 100%; 
    margin: 10px;
    text-align: center;
}
.images img{
    border-radius: 10px;
    border: 2px solid #503525;
    margin-right: 10px; /* Adjust the right margin to create space between images */
    max-width: 100%; /* Make images responsive */    
}
.circle-1 {
    width: 325px;
    height: 100px;
    border: 1px solid #503525;
    background-color: #503525;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #503525;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.my-text {
    color: #F3E5AB
}
.circle-2 {
    width: 325px;
    height: 100px;
    border: 1px solid #503525;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #503525;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.column {
    margin-left: 100px;
    margin-right: 100px;
}
.column p {
    font-size: 21px
}
hr {
    border: 1px solid #503525; /* Change color by modifying the hex code */
    margin: 0px auto; /* Adjust the margin as needed */
    width: 50%;
    text-align: center
}


.quote {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 100%;
}

.aicd-map {
    width: 100%;
    max-width: 800px;
    margin-top: 30px; /* Adjust the top margin as needed */
    margin-bottom: 30px; /* Adjust the bottom margin as needed */
    margin-left: auto;
    margin-right: auto;
}
.chutchui-img {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
}
.footer {
    background-color: #503525;
    color: #fff;
    padding: 12.5px;
    margin-left: -10px;
    text-align: center;
    width: 100%;
  }