
@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('Playfair_Display.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DM Sans';
    src: url('DM_Sans/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #D9C6A5;
}
.title {
    color: #5687AB
}
.stickers {
    margin: 0
}

@keyframes moveAndTiltMotion {
    0%, 100% {
      transform: translateX(0) rotate(0deg);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(-5px) rotate(-5deg);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(5px) rotate(5deg);
    }
  }
  
  .stickers img {
    animation: moveAndTiltMotion 6s infinite; /* Adjust the duration and iteration count as needed */
  }

h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 125px;
    margin: 40px;
    text-shadow: -1px -1px 0 #503525, 1px -1px 0 #503525, -1px 1px 0 #503525, 1px 1px 0 #503525;
}
h2 {
    font-family: 'DM Sans', sans-serif;
    color: #503525;
    font-weight: bold;
    margin: 0 50px 0px 50px
}
h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 21px;
    color: #503525;
    font-weight: bold;
    white-space: nowrap
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    color: #503525;
    margin-left: 50px;
    margin-right: 25px;
    margin-bottom: 5px
}
h4 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 
}
.circle {
    width: 325px;
    height: 100px;
    border: 1px solid #503525;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #503525;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.land-acknowledgement {
    margin: auto
}
.quote {
    margin: auto;
}
.container {
    display: flex;
}

.column {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aicd-map {
    width: 100%;
    max-width: 800px;
    margin: 0 auto
}
.chutchui-img {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;;
}
.project-acknowledgements {
    text-align: center
}
.button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #503525; 
    border: 1px solid #fff; 
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}
.footer {
    background-color: #503525;
    color: #fff;
    padding: 12.5px;
    margin-left: -10px;
    text-align: center;
    width: 100%;
  }

.project-acknowledgements-pg {
    text-align: center;
}